<%- include('./partials/header') %>

<main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">About us</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="/assets/img/about1.jpg" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Get to Know Us</div>
              <h2 class="mb-4 display-4">Get to Know Us</h2>

              <p style="font-size: larger;" >This blog website is a platform for passionate programmers, gamers, and computer science enthusiasts to share their knowledge, insights, and experiences with a wider audience. We believe that technology can be a powerful tool for change and growth, and we are committed to creating content that inspires and empowers our readers to explore new horizons and push the boundaries of what's possible.</p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="/assets/img/dog.jpg" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Mission &amp; Vision</div>
              <h2 class="mb-4 display-4">Mission &amp; Vision</h2>

              <p style="font-size: larger;">This Blog website is focused on programming, games, and computer science, The content is likely aimed at a tech-savvy audience with a passion for all things digital. This site may cover topics like programming languages, software development, game design, computer graphics, cybersecurity, and more.

                You may be interested in learning about new tools, techniques, and technologies that can help you in  learning . Also if you  interested in reading about the latest trends in computer science and gaming, as well as reviews of popular software, games, and gadgets.
                
                In addition to informative blog posts, code snippets, and interactive elements that can help your readers engage with your content and learn new skills.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    </main>


<%- include('./partials/footer') %>